<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj produkt</title>
    <link rel="stylesheet" href="/stylesheets/admin_panel_edit_product.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <script src="/scripts/cancelButton.js" defer></script>
</head>
<body>
    <% if(locals.newProduct) {%>
        <h1>Uzupełnij pola</h1>
    <% }else{ %>
        <h1>Edytuj produkt</h1>
    <% } %>
    <form action="#" method="POST" enctype="multipart/form-data">
        <input type="text" name="ifNewProduct" id="productId" value="<%= locals.newProduct %>">
        <input type="text" name="productId" id="productId" value="<%= locals.productId %>">
        <span>Nazwa</span>
        <input type="text" name="name" id="productName" value="<%= locals.productName %>">
        <span>Opis</span>
        <textarea type="text" name="description" id="productDescription"><%= locals.productDescription %></textarea>
        <span>Cena</span>
        <input type="text" name="price" id='productPrice' value="<%= locals.productPrice %>">
        <span>Link do obrazka</span>
        <span>(najlepiej rozmiaru 327x420 lub proporcjonalnie)</span>
        <input type="file" name="imagePath" id='productImgPath' value="<%= locals.productImgPath %>">
        <span>W ofercie</span>
        <input type="text" name="inOffer" id='productInOffer' value="<%= locals.productInOffer %>">
        <button type="submit" class="form-button">Zapisz</button>
    </form>
    <button class="form-button cancel-button">Anuluj</button>
</body>
</html>