<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koszyk</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Merienda:wght@400;700&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/cart.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="scripts/fadeOutAlert.js"></script>
</head>
<body>
    <% let priceSum = 0 %>
    <h1>Koszyk</h1>
    <div class="container">
        <div class="cart-content">
            <div class="table-desc fst">
                <div class="elem-name fst">Nazwa</div>
                <div class="elem-desc fst">Opis</div>
                <div class="elem-price fst">Cena</div>
            </div>
            <% if(locals.items){ %>
            <% locals.items.forEach(element => {%>
                <%priceSum += Number(element.productPrice)%>
                 
                <div class="cart-item">
                    <div class="elem-name"><%= element.productName %></div>
                    <div class="elem-desc"><%= element.productDescription %></div>
                    
                    <div class="elem-price"><%= element.productPrice.slice(0, element.productPrice.length - 2) + ',' + element.productPrice.slice(element.productPrice.length - 2, element.productPrice.length) %></div>
                </div>
            <% }); %>
            <% } %> <!-- priceSum.slice(0, priceSum.length - 2) + ',' + priceSum.slice(priceSum.length - 2, priceSum.length)-->
            <% priceSum = priceSum.toString() %>
        <div class="summary">W sumie do zapłaty: <%= priceSum.slice(0, priceSum.length - 2) + ',' + priceSum.slice(priceSum.length - 2, priceSum.length) %> zł</div>
        <form action="/cart" method="POST">
            <input type="hidden" name="cart-items" value="<%= JSON.stringify(locals.items) %>">
            <button class="form-button">Zapłać</button>
        </form>
        </div>
    </div> 
    <% if (locals.messages.paid) { %>
        <div class="custom-alert"><%= locals.messages.paid %></div>
    <% } %>
</body>
</html>